# Train-validation-test split

In [1]:
# larger datasets (hundreds of thousands and millions of instances) should have a split ratio of 98%/1%/1% for each set,
# For a smaller dataset, the conventional split ratio is 60%/20%/20%

In [94]:
# importing dataset
import pandas as pd 

data = pd.read_csv(r'C:/Users/excel/Downloads/appliances+energy+prediction/energydata_complete.csv')
#print(data.head)
# data = pd.read_csv(r"updated_file.csv")

In [95]:
data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [58]:
# data = data.drop(columns=['date'])

In [76]:
# data.to_csv('updated_file.csv', index=False)

# using indexing

In [77]:
# spliting dataset
X = data.iloc[:, 1:]
Y = data.iloc[:, 0]

In [91]:
## Print the shape of the dataset in order to determine the split ration to be used.

Y

## The output from this operation should be (19735, 28). This means that it is 
## possible to use a split ratio of 60%/20%/20% for the training, validation, and 
## testing sets.

0         60
1         60
2         50
3         50
4         60
        ...
19730    100
19731     90
19732    270
19733    420
19734    430
Name: Appliances, Length: 19735, dtype: int64

In [79]:
## Get the value to use as the bottom bound of the training and validation sets. This will be used to split the dataset using indexing:

train_end = int(len(X) * 0.6) # This line calculates the index that marks the end of the training set.
# 600 samples

dev_end = int(len(X) * 0.8) # This line calculates the index that marks the end of the development (or validation) set.
# 601 - 800 samples

# the remaining 20% will be used for testing.

In [80]:
## Shuffle the dataset:
X_shuffle = X.sample(frac=1)
Y_shuffle = Y.sample(frac=1)

In [81]:
Y_shuffle

18712     50
17825    100
1059      50
10717     40
11528    110
        ...
14481     50
12881     50
17439    100
19590    190
13693    150
Name: Appliances, Length: 19735, dtype: int64

In [82]:
## Use indexing to split the shuffled dataset into the three sets, for both the features and the target data:

x_train = X_shuffle.iloc[:train_end,:]
y_train = Y_shuffle.iloc[:train_end]
x_dev = X_shuffle.iloc[train_end:dev_end,:]
y_dev = Y_shuffle.iloc[train_end:dev_end]
x_test = X_shuffle.iloc[dev_end:,:]
y_test = Y_shuffle.iloc[dev_end:]

In [83]:
y_train

18712     50
17825    100
1059      50
10717     40
11528    110
        ...
17884     70
7803     130
3114      70
2135      40
19030    120
Name: Appliances, Length: 11841, dtype: int64

In [84]:
## Print the shapes of all three sets:

#print(x_train.shape, y_train.shape)
#print(x_dev.shape, y_dev.shape)
#print(x_test.shape, y_test.shape)

# using scikit-learn's train_test_split() function

In [85]:
## Import the train_test_split() function from scikit-learn's model_selection module:

from sklearn.model_selection import train_test_split

In [86]:
## Split the shuffled dataset:

# splitting the total dataset into 80% and 20%(testing set)
x_new, x_test_2, y_new, y_test_2 = train_test_split(X_shuffle, Y_shuffle, 
test_size=0.2, random_state=0)

dev_per = x_test_2.shape[0]/x_new.shape[0]

# splitting the 80% of the total dataset into 80%(training set) and 20%(validation set)
x_train_2, x_dev_2, y_train_2, y_dev_2 = train_test_split(x_new, y_new, 
test_size=dev_per, random_state=0)

In [87]:
## Print the shape of all three sets:
 
#print(x_train_2.shape, y_train_2.shape)
#print(x_dev_2.shape, y_dev_2.shape)
#print(x_test_2.shape, y_test_2.shape)

In [88]:
y_train

18712     50
17825    100
1059      50
10717     40
11528    110
        ...
17884     70
7803     130
3114      70
2135      40
19030    120
Name: Appliances, Length: 11841, dtype: int64

In [92]:
data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851